*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: space-around;
  background-color: #0f172a;
  color: white;
}

.calc {
  margin-top: 100px;
  background-color: #1e293b;
  width: 300px;
  height: 390px;
  padding: 20px;
  border-radius: 15px;
}

.calc-screen {
  background-color: #324154;
  padding: 20px;
  text-align: right;
  border-radius: 30px;
  margin-bottom: 20px;
  height: 56px;
}

.row {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.btn {
  border-radius: 50%;
  border: 2px solid #1e293b;
  width: 43px;
  height: 43px;
  background-color: #324154;
  color: white;
  transition: all 0.5s;
  cursor: pointer;
}

.btn:hover{
    border: 2px solid white;
}

.yellow {
    background-color: #fbd34d;
    color: #4c5e46;
}

.long_btn {
    width: 114px;
    border-radius: 20px;
}
